body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}
.header-container {
  background-color: #27574f;
  padding: 20px;
  text-align: center;
}
.header-title {
  color: #c0c0c0;
  font-weight: 600;
  font-size: 2rem;
}
.product-container {
  background: linear-gradient(to bottom, #17584d, #ffffff);
  padding: 20px;
  text-align: center;
}
.product-image {
  max-width: 100%;
  height: auto;
}
.cta-title {
  color: #27574f;
  font-size: 23px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  margin: 30px auto;
  max-width: 800px;
}
.heading-instruction {
  color: #17584d;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}
.btn-cta {
  background-color: #d58e10;
  color: #fafafa;
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
  border-radius: 30px;
  border: 2px groove #8b8a8a;
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-cta:hover {
  background-color: #c07f0d;
  color: #ffffff;
  transform: scale(1.02);
}
.stock-text {
  color: #17584d;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
}
.guarantee-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
}
.guarantee-image {
  max-width: 100%;
  height: auto;
  padding: 10px;
}
.guarantee-text-container {
  padding: 10px;
}
.guarantee-title {
  color: #17584d;
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 15px;
}
.guarantee-text {
  color: #030303;
  font-size: 20px;
  font-weight: 400;
}
.discount-title {
  color: #0322fc;
  font-size: 35px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-decoration: underline;
  margin: 30px 0 15px;
}
.order-info {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}
.footer-link {
  color: #000000;
  text-decoration: underline;
  font-weight: 400;
}
.disclaimer {
  font-size: 12px;
  color: #666;
  text-align: justify;
  padding: 20px;
  margin-top: 20px;
}
